.sidebar .nav-link {
    color: #333;
    font-size: 16px;
    padding: 10px;
}

.icon {
    font-size: 20px;
    cursor: pointer;
}
 
.sidebar .nav-link.active {
    background-color: #3b82f6; /* Blue background */
    color: #fff; /* White text */
    border-radius: 0.5rem; /* Rounded corners */
    font-weight: bold; /* Bold text */
  }